<header>
    <nav class="main-navigation">
        <div class="nav-item">
            <a href="/portfolio">Portfolio</a>
        </div>
        <a id="logo" href="/">
            <img src="/assets/images/global/logo-full-v1.png" />
        </a>
        <div class="nav-item">
            <a href="/portfolio">O mnie</a>
        </div>
    </nav>
    <nav class="contact-navigation" >
        <div class="nav-item secondary" >
            <a href="https://instagram.com/kuzniakszymon" title="Zapraszam na mój Instagram"><i class="fa-brands fa-instagram fa-2x"></i></a>
        </div>
    </nav>
</header>