@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

header {
    display: grid;

    background-color: rgba(33, 33, 33, 0.3);
    backdrop-filter: blur(1px);
    box-shadow: 1px 1px 16px 1px #333;

    nav {
        display: flex;
        justify-content: center;

        grid-column-start: 1;
        grid-row-start: 1;
        justify-self:center;

        &.contact-navigation {
            justify-self: right;
        }

        #logo {
            img {
                width: 200px;
            }
        }

        .nav-item {
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                font-family: Montserrat, Arial, sans-serif;
                text-decoration: none;
                color: #eee;
                font-size: 1rem;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}