html {
    body {        
        margin:0;
    }
    
    &.full-size-hero {
        background-image: url('/assets/images/home/background.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }
}